.image-container {
    position: relative;
    color: white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

.mini-overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80px;
}

option {
    font-size: 16px;
    font-weight: normal;
}

.downloadLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.colorInput {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 40px;
    opacity: 0;
    height: 40px;
    cursor: pointer;
}

.colorInput::-webkit-color-swatch {

    border: none;
}

.colorInput::-moz-color-swatch {
    border: none;
    padding: 0; /* Adding padding to remove extra spacing */
}

.colorInput::-moz-focus-inner {
    border: none; /* Removing the inner focus border in Firefox */
}

.menu-item-list:hover {
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}